$widthSite: 1200px;
$familyTitle: "DM Serif Display";
$familyText: "Jost";
$font-400: 400;
$font-500: 500;
$font-600: 600;
$transitionLinc: 0.5s ease;
$secondColor: #4d5053;
$primaryColor: #292f36;
$opacityLink: 0.5;
